<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../res/css/base/base.css">
        <link rel="stylesheet" type="text/css" href="../res/css/body_view/header.css">
        <link rel="stylesheet" type="text/css" href="../res/css/body_view/body.css">
        <link rel="stylesheet" type="text/css" href="../res/css/body_view/body_apps.css">
        <link rel="stylesheet" type="text/css" href="../res/css/body_view/footer.css">
        <link rel="icon" href="https://avatars.githubusercontent.com/u/24654871?v=4">
        <script type="text/javascript" src="../res/js/method/helper.js"></script>
        <script type="text/javascript" src="../res/js/values/strings.js"></script>
        <title>Muhammad Faisal Amir</title>
    </head>


    <body>
    
        <ul class="navbar">
                <li><span id="p-portofolio"></span></li>
                <li class="menu"><a href="../view/contact.html">Contact</a></li>
                <li class="menu"><a href="../index.html">Home</a></li>
        </ul>

        <div class="body-container">

            <div class="text-container">

                <style>
                    
                    p.text-title a {
                        text-decoration: none;
                        color: black;
                        opacity: 0.5;
                    }    

                    p.text-title a:hover {
                        opacity: 1;
                    }    

                </style>

                <p class="text-title"><a href="http://linkedin.com/in/faisalamircs">Linkedin</a></p>
                <p id="p-desc-skill" class="text-desc">linkedin.com/in/faisalamircs</p>

                <p class="text-title"><a href="http://facebook.com/faisalamircs">Facebook</a></p>
                <p id="p-desc-me" class="text-desc">facebook.com/faisalamircs</p>   
                
                <p class="text-title"><a href="http://instagram.com/faisalamircs">Instagram</a></p>
                <p id="p-desc-skill" class="text-desc">instagram.com/faisalamircs</p>
                
                <p class="text-title"><a href="http://medium.com/@faisalamircs">Medium</a></p>
                <p id="p-desc-me" class="text-desc">medium.com/@faisalamircs</p>  

                <p class="text-title"><a href="http://dribbble.com/faisalamircs">Dribbble</a></p>
                <p id="p-desc-me" class="text-desc">dribbble.com/faisalamircs</p>  

                <p class="text-title"><a href="http://github.com/amirisback">Github</a></p>
                <p id="p-desc-me" class="text-desc">github.com/amirisback</p>  
            
            </div>

        </div>

        <div class="footer-container">
            <p id="p-copyright">Copyright &copy Muhammad Faisal Amir 2022</p>
        </div>

    </body>

    <script>
        setText("p-portofolio", text_portofolio);
    </script>

</html>